.navbar-default {
  background-color: #135773;
  border-color: #0b364c;
}
.navbar-default .navbar-brand {
  color: #ffcb04;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffcb04;
}
.navbar-default .navbar-text {
  color: #ffcb04;
}
.navbar-default .navbar-nav > li > a {
  color: #ffcb04;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffcb04;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffcb04;
  background-color: #0b364c;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffcb04;
  background-color: #0b364c;
}
.navbar-default .navbar-toggle {
  border-color: #0b364c;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #0b364c;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffcb04;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffcb04;
}
.navbar-default .navbar-link {
  color: #ffcb04;
}
.navbar-default .navbar-link:hover {
  color: #ffcb04;
}

.navbar-brand > img {
     margin-top: -14px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffcb04;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffcb04;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffcb04;
    background-color: #0b364c;
  }
}

@font-face { 
  font-family: 'diner'; 
  src: url('/bundles/manuasgtt/fonts/diner.otf'); 
}

@font-face { 
  font-family: 'myriad'; 
  src: url('/bundles/manuasgtt/fonts/myriad.otf'); 
}

body {
	background-color: #025573;
}

.page {
	max-width: 1280px;
	padding-left: 0;
	padding-right: 0;
}

.header {
	background-image: url(/bundles/manuasgtt/images/gouigouis.png) ;
	background-repeat: no-repeat;
	background-position: top top;
	z-index: 200;
	height: 250px;
	margin-left: 0px;
	padding: 0;
}


/*.logo {
	background-image: url(/bundles/manuasgtt/images/ASGTT-Logo_page_web.png) ;
	background-repeat: no-repeat;
	background-size: cover;
	height: 212px;
	margin-top: 10px;
	z-index: 100;
	width : 320px;
	padding: 0;
	position: absolute;
}*/
.logo {
 	padding : 0;
}
.logo > img {
	width: 100%;
	z-index: 2000;
}

.header > . main_menu {
	margin: 0;
	padding: 0;	
}

.header > .main_menu > ul > li{
	display: inline-block;
}

.header > .main_menu > ul > li > .submenu {
	visibility: hidden;
	display: block;
	position: absolute;
	background-color:#003952 ;
	width: 230px;
	font-family:diner;
	margin-top: -50px;
	border: 1px #003952 solid;
	padding-left: 0px;
	opacity: 0;
	z-index: -1;
	overflow-y: hidden;
	
	transition-property: opacity, visibility, z-index, overflow-y;
	transition-duration: 0.2s, 0s, 0s, 0s;
	transition-delay: 0s, 0.2s, 0.2s, 0.2s;
	
	
}


.submenu > li > a {
	font-size: 18px;
	color: #FFCB04;
}
.header > .main_menu > ul > li:hover > .submenu {
	padding-top: 50px;
}
.header > .main_menu > ul > li:hover > .submenu > li {
	list-style: none;
	padding: 10px;
}

.header > .main_menu > ul > li:hover > .submenu {
	visibility: visible;
	z-index: 2000;
	max-height: 70vh;
	cursor: pointer;
	opacity: 0.9;
	transition-delay: 0s, 0s, 0s, 0s;
	overflow-y: auto;
	z-index: 1000;
}

.header > .main_menu > ul > li > a > img {
	width: 100%;
	margin-top: 50px;
}

.header > .main_menu > ul > li > a {
	display: block;
	width: 100%;
	z-index: 2000;
}

.header > .main_menu > ul > li  {
	padding: 0;

}
.content {
	margin-top: -50px;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 50;
	margin-right: 0;
	margin-left: 0;
	padding-bottom: 50px;
	background-attachment : fixed;
	padding-top: 70px;
	background-size: 100% 100%;
}

.accueil .content {
	background-image:url(/bundles/manuasgtt/images/ASGTT-Fond_photo_accueil.jpg);

}
.contact .content {
	background-image:url(/bundles/manuasgtt/images/ASGTT-Fond_photo_contact.jpg);

}

.compteur .content {
	background-image:url(/bundles/manuasgtt/images/ASGTT-Fond_photo_compteur.jpg);
}




.content::-webkit-scrollbar { 
    display: none; 
}

.bienvenue {
	background-image: url(/bundles/manuasgtt/images/ASGTT-Accueil-Bienvenue.png) ;
	background-repeat: no-repeat;
	background-position: center; 
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	width: 332px;
	height: 100px;

}

.liste_articles > .articles {
	background-color:  #025573;
	margin-top: 30px;
	padding: 5px;
	box-shadow: 1px 1px 20px #0a0a0a;
	max-width: 1180px;
}

.liste_articles > .articles > .titre_article {
	font-family: diner;
	color: #FFCB04;
	font-size: 40px;
}

.liste_articles > .articles > .content_article {
	color: #ffffff;
	font-family: myriad;
	font-size: 20px;
}

.footer {
	background-image: url(/bundles/manuasgtt/images/ASGTT-Pied_de_page_partenaires.png) ;
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
	height: 320px;
	z-index: 100;
	margin-top: -20px;
}

.page_maire,
.page_entrainements,
.page_bureau,
.page_contact,
.page_tradi,
.page_promo,
.page_photos,
.page_compteur,
.page_membres,
.page_accueil {
	opacity: 0;
	max-height: 0px;
	overflow: hidden;
	
	width: 100%;
	
	transition-property: opacity, max-height;
	transition-duration: 0.2s, 0.2s;
	transition-delay: 0s, 0s;
}

.maire .page_maire,
.entrainements .page_entrainements,
.bureau .page_bureau,
.contact .page_contact,
.tradi .page_tradi,
.promo .page_promo,
.photos .page_photos,
.compteur .page_compteur,
.membres .page_membres,
.accueil .page_accueil  {
	opacity: 1;
	min-height: 800px;
	max-height: 2000px;
	transition-duration: 0.2s, 0.2s, 0.5s;
}

.maire .footer,
.entrainements .footer,
.bureau .footer,
.contact .footer,
.tradi .footer,
.promo .footer,
.photos .footer,
.compteur .footer,
.membres .footer{
	opacity: 0;
}

.accueil .footer{
	opacity: 1
}
/* Small devices (767px and down) */
@media (max-width: 767px) {
	.page {
		padding: 0;
	}
	.header {
	  height: 70px;
	  display:none;
	}
	.logo{
		display: none;
	}
	
	.navbar {
	display:block;
	}
	
	.content {
		margin-top: 0;
	}
}
	
/* Small devices (768px and up) */
@media (min-width: 768px) {
	
	.navbar {
		display: none;
	}
	
	.header > .main_menu > ul > li > a > img {
	width: 100%;
	
	}
} 


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1280px) {
	

}
.slider_images {
	display: none;
}
.slider {
	position: relative;
	width: 628px;
	height: 450px;
	box-shadow: 1px 1px 20px #0a0a0a;
	margin-left: auto;
	margin-right: auto;
	background-color:  #025573;
	
}
.slider > * {
	display: none\9;
	opacity: 0;
	transition: opacity 2s linear, transform 12s linear;
	-webkit-transition: opacity 2s linear, -webkit-transform 12s linear;
	-moz-transition: opacity 2s linear, -moz-transform 12s linear;
	-ms-transition: opacity 2s linear, -ms-transform 12s linear;
	-o-transition: opacity 2s linear, -o-transform 12s linear;
}
.slider > *.visible {
	display: block\9;
	opacity: 1;
	transition: opacity 2s linear, transform 12s linear;
	-webkit-transition: opacity 2s linear, -webkit-transform 12s linear;
	-moz-transition: opacity 2s linear, -moz-transform 12s linear;
	-ms-transition: opacity 2s linear, -ms-transform 12s linear;
	-o-transition: opacity 2s linear, -o-transform 12s linear;
}
.slider.nozoom > * {
	transition: opacity 2s linear;
	-webkit-transition: opacity 2s linear;
	-moz-transition: opacity 2s linear;
	-ms-transition: opacity 2s linear;
	-o-transition: opacity 2s linear;
}
.slider.nozoom > *.visible {
	transition: opacity 2s linear;
	-webkit-transition: opacity 2s linear;
	-moz-transition: opacity 2s linear;
	-ms-transition: opacity 2s linear;
	-o-transition: opacity 2s linear;
}
.slider > *.toRemove {
	display: none\9;
}

.carousel_image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	/*-ms-behavior: url(/backgroundsize.min.htc);*/
	
	transform-origin: 20% 80%;
	-webkit-transform-origin: 20% 80%;
	-moz-transform-origin: 20% 80%;
	-ms-transform-origin: 20% 80%;
	-o-transform-origin: 20% 80%;
	
    transition: opacity 2s linear, transform 12s linear;
    -webkit-transition: opacity 2s linear, -webkit-transform 12s linear;
	-moz-transition: opacity 2s linear, -moz-transform 12s linear;
	-ms-transition: opacity 2s linear, -ms-transform 12s linear;
	-o-transition: opacity 2s linear, -o-transform 12s linear;
}

.nozoom .carousel_image {
	transform-origin: none;
	-webkit-transform-origin: none;
	-moz-transform-origin: none;
	-ms-transform-origin: none;
	-o-transform-origin: none;
	
	transition: opacity 2s linear;
	-webkit-transition: opacity 2s linear;
	-moz-transition: opacity 2s linear;
	-ms-transition: opacity 2s linear;
	-o-transition: opacity 2s linear;
}

.IE7 .carousel_image > img,
.IE8 .carousel_image > img {
	position: relative;
	display: block;
	width: 100%;
}

.carousel_image.align_top {
	background-position: center top!important;
}

.carousel_image.align_bottom {
	background-position: center bottom!important;
}

.carousel_image.align_left {
	background-position: left center!important;
}

.carousel_image.align_right {
	background-position: right center!important;
}

.carousel_image.align_top_left,
.carousel_image.align_left_top {
	background-position: left top!important;
}

.carousel_image.align_top_right,
.carousel_image.align_right_top {
	background-position: right top!important;
}

.carousel_image.align_bottom_right,
.carousel_image.align_right_bottom {
	background-position: right bottom!important;
}

.carousel_image.align_bottom_left,
.carousel_image.align_left_bottom {
	background-position: left bottom!important;
}

.slider > *.fast,
.slider > *.visible.fast,
.carousel_image.fast {
	transition: opacity .25s linear, transform 12s linear;
	-webkit-transition: opacity .25s linear, -webkit-transform 12s linear;
	-moz-transition: opacity .25s linear, -moz-transform 12s linear;
	-ms-transition: opacity .25s linear, -ms-transform 12s linear;
	-o-transition: opacity .25s linear, -o-transform 12s linear;
}
.slider.nozoom > *.fast,
.slider.nozoom > *.visible.fast,
.nozoom .carousel_image.fast {
	transition: opacity .25s linear;
	-webkit-transition: opacity .25s linear;
	-moz-transition: opacity .25s linear;
	-ms-transition: opacity .25s linear;
	-o-transition: opacity .25s linear;
}

.carousel_image:nth-child(even) {
	transform-origin: 80% 20%;
	-webkit-transform-origin: 80% 20%;
	-moz-transform-origin: 80% 20%;
	-ms-transform-origin: 80% 20%;
	-o-transform-origin: 80% 20%;
	
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
.nozoom .carousel_image:nth-child(even) {
	transform-origin: none;
	-webkit-transform-origin: none;
	-moz-transform-origin: none;
	-ms-transform-origin: none;
	-o-transform-origin: none;
	
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
}
.carousel_image.zoom {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}
.nozoom .carousel_image.zoom {
	transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

.IE .carousel_image:nth-child(even) {
	transform: none;
}
.IE .carousel_image.zoom {
    transform: none;
}

.carousel_image:nth-child(even).zoom {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.nozoom .carousel_image:nth-child(even).zoom {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

.IE .carousel_image:nth-child(even).zoom {
    transform: none;
}


.carousel_image:last-child:first-child,
.slider > *:last-child:first-child,
.slider > *.visible:last-child:first-child,

.carousel_image.lonely,
.slider > *.lonely,
.slider > *.visible.lonely {
	transform-origin: 50% 40%;
	-webkit-transform-origin: 50% 40%;
	-moz-transform-origin: 50% 40%;
	-ms-transform-origin: 50% 40%;
	-o-transform-origin: 50% 40%;
	
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	
	transition: opacity 2s linear, transform 30s ease;
	-webkit-transition: opacity 2s linear, -webkit-transform 30s ease;
	-moz-transition: opacity 2s linear, -moz-transform 30s ease;
	-ms-transition: opacity 2s linear, -ms-transform 30s ease;
	-o-transition: opacity 2s linear, -o-transform 30s ease;
}

.nozoom .carousel_image:last-child:first-child,
.slider.nozoom > *:last-child:first-child,
.slider.nozoom > *.visible:last-child:first-child,

.nozoom .carousel_image.lonely,
.slider.nozoom > *.lonely,
.slider.nozoom > *.visible.lonely {
	transform-origin: none;
	-webkit-transform-origin: none;
	-moz-transform-origin: none;
	-ms-transform-origin: none;
	-o-transform-origin: none;
	
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	
	transition: opacity 2s linear;
	-webkit-transition: opacity 2s linear;
	-moz-transition: opacity 2s linear;
	-ms-transition: opacity 2s linear;
	-o-transition: opacity 2s linear;
}


.carousel_image.dontmove,
.slider > *.dontmove,
.slider > *.visible.dontmove,
.carousel_image.dontmove:last-child:first-child,
.slider > *.dontmove:last-child:first-child,
.slider > *.visible.dontmove:last-child:first-child,
.carousel_image.lonely.dontmove,
.slider > *.lonely.dontmove,
.slider > *.visible.lonely.dontmove,

.carousel_image.zoom.dontmove:last-child:first-child,
.slider > *.zoom.dontmove:last-child:first-child,
.slider > *.visible.zoom.dontmove:last-child:first-child,

.carousel_image.zoom.dontmove.lonely,
.slider > *.zoom.dontmove.lonely,
.slider > *.zoom.visible.dontmove.lonely {
	transform: none;
	webkit-transform: none;
	moz-transform: none;
}
.carousel_image.whited,
.slider > *.visible.whited {
	opacity: .7;
	-webkit-filter: blur(7px); -moz-filter: blur(7px); -o-filter: blur(7px); -ms-filter: blur(7px); filter: blur(7px);
}

.carousel_image.fast:last-child:first-child,
.slider > *.fast:last-child:first-child,
.slider > *.visible.fast:last-child:first-child,

.carousel_image.lonely.fast,
.slider > *.lonely.fast,
.slider > *.visible.lonely.fast {
	transition: opacity .25s linear, transform 30s ease;
	-webkit-transition: opacity .25s linear, -webkit-transform 30s ease;
	-moz-transition: opacity .25s linear, -moz-transform 30s ease;
	-ms-transition: opacity .25s linear, -ms-transform 30s ease;
	-o-transition: opacity .25s linear, -o-transform 30s ease;
}

.nozoom .carousel_image.fast:last-child:first-child,
.slider.nozoom > *.fast:last-child:first-child,
.slider.nozoom > *.visible.fast:last-child:first-child,

.nozoom .carousel_image.lonely.fast,
.slider.nozoom > *.lonely.fast,
.slider.nozoom > *.visible.lonely.fast {
	transition: opacity .25s linear;
	-webkit-transition: opacity .25s linear;
	-moz-transition: opacity .25s linear;
	-ms-transition: opacity .25s linear;
	-o-transition: opacity .25s linear;
}

.carousel_image.zoom:last-child:first-child,
.slider > *.zoom:last-child:first-child,
.slider > *.visible.zoom:last-child:first-child,

.carousel_image.zoom.lonely,
.slider > *.zoom.lonely,
.slider > *.zoom.visible.lonely {
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
}

.nozoom .carousel_image.zoom:last-child:first-child,
.slider.nozoom > *.zoom:last-child:first-child,
.slider.nozoom > *.visible.zoom:last-child:first-child,

.nozoom .carousel_image.zoom.lonely,
.slider.nozoom > *.zoom.lonely,
.slider.nozoom > *.zoom.visible.lonely {
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
}

.IE .carousel_image.zoom:last-child:first-child,
.IE .slider > *.zoom:last-child:first-child,
.IE .slider > *.visible.zoom:last-child:first-child,

.IE .carousel_image.zoom.lonely,
.IE .slider > *.zoom.lonely,
.IE .slider > *.zoom.visible.lonely {
	transform: none;
}