<div class="success">
	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 articles " article_id="{{article.id}}">
            <input id="titre" name="titre" class="titre_article col-lg-12 col-md-12 col-sm-12 col-xs-12" type="text" value="{{ article.titre }}" />
            <textarea id='editor_tmp' name="editor_tmp">{{ article.contenu }}</textarea><br>
                
	</div>
</div>